<a href="https://colab.research.google.com/github/LambdaTheda/DS-Unit-2-Kaggle-Challenge/blob/master/Wed_Apr_15_4am_Random_Forest_ass_PT5_DS_222.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 2, Module 2*

---

# Random Forests

## Assignment
- [ ] Read [“Adopting a Hypothesis-Driven Workflow”](https://outline.com/5S5tsB), a blog post by a Lambda DS student about the Tanzania Waterpumps challenge.
- [ ] Continue to participate in our Kaggle challenge.
- [ ] Define a function to wrangle train, validate, and test sets in the same way. Clean outliers and engineer features.
- [ ] Try Ordinal Encoding.
- [ ] Try a Random Forest Classifier.
- [ ] Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)
- [ ] Commit your notebook to your fork of the GitHub repo.

## Stretch Goals

### Doing
- [ ] Add your own stretch goal(s) !
- [ ] Do more exploratory data analysis, data cleaning, feature engineering, and feature selection.
- [ ] Try other [categorical encodings](https://contrib.scikit-learn.org/categorical-encoding/).
- [ ] Get and plot your feature importances.
- [ ] Make visualizations and share on Slack.

### Reading

Top recommendations in _**bold italic:**_

#### Decision Trees
- A Visual Introduction to Machine Learning, [Part 1: A Decision Tree](http://www.r2d3.us/visual-intro-to-machine-learning-part-1/),  and _**[Part 2: Bias and Variance](http://www.r2d3.us/visual-intro-to-machine-learning-part-2/)**_
- [Decision Trees: Advantages & Disadvantages](https://christophm.github.io/interpretable-ml-book/tree.html#advantages-2)
- [How a Russian mathematician constructed a decision tree — by hand — to solve a medical problem](http://fastml.com/how-a-russian-mathematician-constructed-a-decision-tree-by-hand-to-solve-a-medical-problem/)
- [How decision trees work](https://brohrer.github.io/how_decision_trees_work.html)
- [Let’s Write a Decision Tree Classifier from Scratch](https://www.youtube.com/watch?v=LDRbO9a6XPU)

#### Random Forests
- [_An Introduction to Statistical Learning_](http://www-bcf.usc.edu/~gareth/ISL/), Chapter 8: Tree-Based Methods
- [Coloring with Random Forests](http://structuringtheunstructured.blogspot.com/2017/11/coloring-with-random-forests.html)
- _**[Random Forests for Complete Beginners: The definitive guide to Random Forests and Decision Trees](https://victorzhou.com/blog/intro-to-random-forests/)**_

#### Categorical encoding for trees
- [Are categorical variables getting lost in your random forests?](https://roamanalytics.com/2016/10/28/are-categorical-variables-getting-lost-in-your-random-forests/)
- [Beyond One-Hot: An Exploration of Categorical Variables](http://www.willmcginnis.com/2015/11/29/beyond-one-hot-an-exploration-of-categorical-variables/)
- _**[Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)**_
- _**[Coursera — How to Win a Data Science Competition: Learn from Top Kagglers — Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)**_
- [Mean (likelihood) encodings: a comprehensive study](https://www.kaggle.com/vprokopev/mean-likelihood-encodings-a-comprehensive-study)
- [The Mechanics of Machine Learning, Chapter 6: Categorically Speaking](https://mlbook.explained.ai/catvars.html)

#### Imposter Syndrome
- [Effort Shock and Reward Shock (How The Karate Kid Ruined The Modern World)](http://www.tempobook.com/2014/07/09/effort-shock-and-reward-shock/)
- [How to manage impostor syndrome in data science](https://towardsdatascience.com/how-to-manage-impostor-syndrome-in-data-science-ad814809f068)
- ["I am not a real data scientist"](https://brohrer.github.io/imposter_syndrome.html)
- _**[Imposter Syndrome in Data Science](https://caitlinhudon.com/2018/01/19/imposter-syndrome-in-data-science/)**_


### More Categorical Encodings

**1.** The article **[Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)** mentions 4 encodings:

- **"Categorical Encoding":** This means using the raw categorical values as-is, not encoded. Scikit-learn doesn't support this, but some tree algorithm implementations do. For example, [Catboost](https://catboost.ai/), or R's [rpart](https://cran.r-project.org/web/packages/rpart/index.html) package.
- **Numeric Encoding:** Synonymous with Label Encoding, or "Ordinal" Encoding with random order. We can use [category_encoders.OrdinalEncoder](https://contrib.scikit-learn.org/categorical-encoding/ordinal.html).
- **One-Hot Encoding:** We can use [category_encoders.OneHotEncoder](http://contrib.scikit-learn.org/categorical-encoding/onehot.html).
- **Binary Encoding:** We can use [category_encoders.BinaryEncoder](http://contrib.scikit-learn.org/categorical-encoding/binary.html).


**2.** The short video 
**[Coursera — How to Win a Data Science Competition: Learn from Top Kagglers — Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)** introduces an interesting idea: use both X _and_ y to encode categoricals.

Category Encoders has multiple implementations of this general concept:

- [CatBoost Encoder](http://contrib.scikit-learn.org/categorical-encoding/catboost.html)
- [James-Stein Encoder](http://contrib.scikit-learn.org/categorical-encoding/jamesstein.html)
- [Leave One Out](http://contrib.scikit-learn.org/categorical-encoding/leaveoneout.html)
- [M-estimate](http://contrib.scikit-learn.org/categorical-encoding/mestimate.html)
- [Target Encoder](http://contrib.scikit-learn.org/categorical-encoding/targetencoder.html)
- [Weight of Evidence](http://contrib.scikit-learn.org/categorical-encoding/woe.html)

Category Encoder's mean encoding implementations work for regression problems or binary classification problems. 

For multi-class classification problems, you will need to temporarily reformulate it as binary classification. For example:

```python
encoder = ce.TargetEncoder(min_samples_leaf=..., smoothing=...) # Both parameters > 1 to avoid overfitting
X_train_encoded = encoder.fit_transform(X_train, y_train=='functional')
X_val_encoded = encoder.transform(X_train, y_val=='functional')
```

For this reason, mean encoding won't work well within pipelines for multi-class classification problems.

**3.** The **[dirty_cat](https://dirty-cat.github.io/stable/)** library has a Target Encoder implementation that works with multi-class classification.

```python
 dirty_cat.TargetEncoder(clf_type='multiclass-clf')
```
It also implements an interesting idea called ["Similarity Encoder" for dirty categories](https://www.slideshare.net/GaelVaroquaux/machine-learning-on-non-curated-data-154905090).

However, it seems like dirty_cat doesn't handle missing values or unknown categories as well as category_encoders does. And you may need to use it with one column at a time, instead of with your whole dataframe.

**4. [Embeddings](https://www.kaggle.com/learn/embeddings)** can work well with sparse / high cardinality categoricals.

_**I hope it’s not too frustrating or confusing that there’s not one “canonical” way to encode categoricals. It’s an active area of research and experimentation! Maybe you can make your own contributions!**_

### Setup

You can work locally (follow the [local setup instructions](https://lambdaschool.github.io/ds/unit2/local/)) or on Colab (run the code cell below).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge/master/data/'
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

train = pd.merge(pd.read_csv(DATA_PATH+'waterpumps/train_features.csv'), 
                 pd.read_csv(DATA_PATH+'waterpumps/train_labels.csv'))
test = pd.read_csv(DATA_PATH+'waterpumps/test_features.csv')
sample_submission = pd.read_csv(DATA_PATH+'waterpumps/sample_submission.csv')

train.shape, test.shape

((59400, 41), (14358, 40))

## Pre-processing data

In [20]:
# Split Val dataset from Train data
train, val = train_test_split(train, train_size = 0.80, test_size = 0.20,
                              stratify = train['status_group'], random_state = 42)

print('Train shape:', train.shape, ', Val shape:', val.shape, ', Test shape:', test.shape)

Train shape: (9964, 41) , Val shape: (2492, 41) , Test shape: (14358, 40)

## Exploratory Data Analysis

In [9]:
# Examine train's numeric variables
train.describe()

                 id     amount_tsh  ...    population  construction_year
count  30412.000000   30412.000000  ...  30412.000000       30412.000000
mean   37113.828818     330.019045  ...    179.235729        1305.952979
std    21367.048328    2990.719604  ...    463.655022         949.997688
min        0.000000       0.000000  ...      0.000000           0.000000
25%    18656.750000       0.000000  ...      0.000000           0.000000
50%    37114.500000       0.000000  ...     30.000000        1986.000000
75%    55469.500000      25.000000  ...    213.000000        2004.000000
max    74247.000000  250000.000000  ...  15300.000000        2013.000000

[8 rows x 10 columns]

# Examine train's non-numeric variables

In [11]:
train.describe(exclude = 'number').T # Transpose/"switch" Row and Column orientaiton for legibility

                       count unique                      top   freq
date_recorded          30412    334               2011-03-17    309
funder                 28581   1407   Government Of Tanzania   4698
installer              28571   1555                      DWE   9008
wpt_name               30412  20659                     none   1857
basin                  30412      9            Lake Victoria   5214
subvillage             30227  13467                  Majengo    282
region                 30412     21                   Iringa   2755
lga                    30412    124                   Njombe   1315
ward                   30412   2057                    Igosi    163
public_meeting         28746      2                     True  26136
recorded_by            30412      1  GeoData Consultants Ltd  30412
scheme_management      28433     12                      VWC  18901
scheme_name            15997   2257                        K    350
permit                 28838      2                     True  19846
extraction_type        30412     18                  gravity  13713
extraction_type_group  30412     13                  gravity  13713
extraction_type_class  30412      7                  gravity  13713
management             30412     12                      vwc  20790
management_group       30412      5               user-group  26913
payment                30412      7                never pay  12957
payment_type           30412      7                never pay  12957
water_quality          30412      8                     soft  26034
quality_group          30412      6                     good  26034
quantity               30412      5                   enough  17010
quantity_group         30412      5                   enough  17010
source                 30412     10             shallow well   8703
source_type            30412      7             shallow well   8703
source_class           30412      3              groundwater  23406
waterpoint_type        30412      7       communal standpipe  14561
waterpoint_type_group  30412      6       communal standpipe  17661
status_group           30412      3               functional  16517

### Define a function to wrangle train, validate, and test sets in the same way. Clean outliers...

In [0]:
import numpy as np

def wrangle(X):
  # Prevent SettingWithCopyWarning
  X = X.copy()

  '''
  CLEAN OUTLIERS: 
  About 3% of the time, latitude has small values near zero,
  outside Tanzania, so we'll treat these values like zeroes
  '''
  X['latitude'] = X['latitude'].replace(-2e-08, 0)

  # When columns have zeros and shouldn't, they are like null values.  # So we will replace the zeros with nulls, and impute missing values later.
  cols_with_zeros = ['longitude','latutude']
  for col in cols_with_zeroes:
    X[col] = X[col].replace(0, np.nan)
   
   # Drop duplicate columns
    duplicates = ['quantity_group', 'payment_type']
    X = X.drop(columns = duplicates) # (quantity & quantity_group), (payment & payment_type) are duplicates, so drop one from each set

   # Drop columns that always or never varies
    unusable_variance = ['recorded_by', 'id']
    X = X.drop(columns = unusable_variance) 

   # Convert date_recorded to dateime
    X['date_recorded'] = pd.to_datetime(X['date_recorded'], infer_datetime_format = True)
   
   # Extract components from date_recorded, then drop original column
    X['year_recorded'] = X['date_recorded'].dt.year
    X['month_recorded'] = X['month_recorded'].dt.month
    X['day_recorded'] = X['day_recorded'].dt.day

    X = X.drop(columns = 'date_recorded')
                          
   # Engineer feature: age of waterpump = date_recorded - construction_year 
    X['waterpump_age'] = X['year_recorded'] - X['construction_year']
    X['years_MISSING'] = X['waterpump_age'].isnull()
   
   # return the wrangled dataframe

  return X

  train = wrangle(train)
  val = wrangle(val)
  test = wrangle(test)

### Profile Report

In [0]:
# Check Pandas Profiling version

import pandas_profiling
pandas_profiling.__version__ #AttributeError: module 'pandas_profiling' has no attribute '__version__'

In [0]:
# New code for Pandas Profiling version 2.4
from pandas_profiling import ProfileReport

profile = ProfileReport(train, minimal = True).to_notebook_iframe()
profile

### Ordinal Encoding-

involves mapping each unique label to an integer value. As such, it is sometimes referred to simply as an integer encoding  ~From: https://machinelearningmastery.com/how-to-prepare-categorical-data-for-deep-learning-in-python/

In [15]:
#Arrange data into X features matrix and y target vector

# y target vector is 'status_group' column
target = 'status_group'

# Train dataset
X_train = train.drop(columns = target)
y_train = train[target]

# Validation dataset
X_val = val.drop(columns = target)
y_val = val[target]

# Test dataset
X_test = test

print('Train shape:', X_train.shape, ', Val shape:', X_val.shape)

Train shape: (30412, 40) , Val shape: (7604, 40)

### Baseline Class Prediction

functional class is mode

In [21]:
train['status_group'].value_counts(normalize = True)

functional                 0.543155
non functional             0.384183
functional needs repair    0.072662
Name: status_group, dtype: float64

In [30]:
#Ordinal Encoding & Random Forest Classifier
%time   #captures and prints runtime of cell computations; UsageError: Can't use statement directly after '%%time'!

import category_encoders as ce
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline

pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    SimpleImputer(strategy = 'mean'),
    RandomForestClassifier(random_state = 42, n_jobs = -1)
)

# Fit on Train & Score on Val
pipeline.fit(X_train, y_train)
print('Validation Accuracy:', pipeline.score(X_val, y_val))

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.91 µs
Validation Accuracy: 0.7994476591267754

### Predict on Test set and Submit to Kaggle

In [0]:
# Predict on Test set
y_pred = pipeline.predict(X_test)

# Submit to Kaggle: 
'''
1) Make a dataframe with 2 columns: id and status_group
2) [they will be written] to a csv file, without the index
'''
submission = sample_submission.copy()
submission['status_group'] = y_pred
submission.to_csv('submission_forest_1.csv', index = False)